[user]
        email = *@*
        name = *
[difftool "sourcetree"]
        cmd = '' \"\" \"\"
[mergetool "sourcetree"]
        cmd = "'' "
        trustExitCode = true
[alias]
  rollback = "!f() { \
    [ -z \"$1\" ] && echo "reverting last local commit..." && git reset --soft H>    echo "reverting last $1 local commits..."; \
    git reset --soft HEAD~$1; \
  }; \
  f"

  cb="git checkout -b"
  bc="cb"
  up="git push --set-upstream origin"

  rb="rollback"
  undo="rollback"
