[user]
        email = *@*
        name = *
[difftool "sourcetree"]
        cmd = '' \"\" \"\"
[mergetool "sourcetree"]
        cmd = "'' "
        trustExitCode = true
[alias]
  cb="checkout -b"
  bc="cb"
  up="push --set-upstream origin"

  rb="rollback"
  undo="rollback"
